# Configuração do Banco de Dados PostgreSQL
DB_USER="seu_usuario"
DB_HOST="localhost"
DB_DATABASE="access_control_db"
DB_PASSWORD="sua_senha"
DB_PORT=5432
DB_SSL=true

# Configuração do Servidor
PORT=3000

# Configuração do MQTT Broker - HiveMQ Cloud (com TLS)
MQTT_BROKER_URL="mqtts://d8375c5d1154430bbaedae91fd4e1632.s1.eu.hivemq.cloud:8883"
MQTT_USERNAME="Argos"
MQTT_PASSWORD="ioTrain*99!"
MQTT_CLIENT_ID="access-control-backend"
